*{
    margin: 0;
    padding: 0;
    font-family: 'Kaisei Tokumin', serif;
}
html{
    scroll-behavior: smooth;
}
.hero{
    width: 100%;
    height: 100vh;
    animation: animate 8s ease-in-out infinite alternate;
    background-image: url(./images/img-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes animate {
    0%{
        background-image: url(./images/img-1.jpg);
    }
    25%{
        background-image: url(./images/img-2.jpg);
    }
    50%{
        background-image: url(./images/img-3.jpg);
    }
    75%{
        background-image: url(./images/img-4.jpg);
    }
    100%{
        background-image: url(./images/img-5.jpg);
    }
}

/* NAVBAR */
.navbar{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    width: 70%;
}
.logo a{
    font-size: 35px;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 60%;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
} 

.main{
    width: 70%;
    margin: auto;
    padding: 5%;
}
.container{
    width: 50%;
}
.container p:first-child{
    font-size: 45px;
    font-weight: 900;
    color: #fff;
}
.container p:nth-child(2){
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    margin-top: 2%;
}

/* BUTTONS */
.btn-container{
    margin-top: 5%;
}
.btn1, .btn2{
    padding: 1% 2%;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    transition: all 0.1s ease-in-out;
}
.btn1{
    background-color: #ffff00;
    color: #800080;
}
.btn1:hover{
    background-color: #e5e500;
}
.btn2{
    background-color: #800080;
    color: #ffff00;
}
.btn2:hover{
    background-color: #730073;
}


/* info-section */
.info-section{
    width: 100%;
    height: 100vh;
    margin-top: 5%;
}
h2{
    font-size: 40px;
    text-align: center;
}
.title{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title .text{
    width: 65%;
    font-size: 20px;
    color: #8a8a8a;
}
.svg{
    width: 30%;
}

/* FEATURES */
.features, .pricing-table, .blog-table{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #8a8a8a;
}
.feature-cards, .pricing-cards, .blog-cards{
    padding: 5%;
    text-align: center;
}
.feature-cards i{
    font-size: 64px;
    color: #800080;
    transition: all 0.3s ease-in-out;
}
.feature-cards i:hover{
    transform: rotate(360deg);
}
.feature-cards .heading, .project-cards .heading, .pricing-cards .heading, .blog-cards .heading{
    text-transform: uppercase;
    font-size: 25px;
    color: #800080;
    margin-top: 5%;
}
.feature-cards .card-text, .project-cards .card-text{
    color: #8a8a8a;
    margin-bottom: 10%;
}
.feature-cards a, .project-cards a{
    padding: 5% 5%;
    text-decoration: none;
    border-radius: 5px;
    color: #ffff00;
    background-color: #800080;
}

.projects-section, .pricing-section, .blog-section{
    margin-top: 5%;
}
.projects-section h2{
    text-align: center;
    font-size: 40px;
}
.projects{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 100vh;
    margin-top: 5%;
}
.project-cards{
    background-color: #e7e7e7;
}
.project-cards div{
    padding-left: 5%;
}
.project-cards img{
    width: 100%;
    height: 450px;
}
.project-cards a{
    font-size: 14px;
}


/* PRICING */
.pricing-cards .sub-heading{
    color: #8a8a8a;
}
.pricing-cards .card-text, .blog-cards .card-text{
    list-style: none;
    margin-bottom: 5%;
}
.pricing-cards a ,.blog-cards a{
    display: block;
    width: 50%;
    padding: 5% 5%;
    margin: auto;
    text-decoration: none;
    border-radius: 5px;
    color: #ffff00;
    background-color: #800080;
}


/* VIDEOS */
.video-heading{
    margin: 3%;
}
.video-section{
    width: 100%;
    background: #b266b2;
    overflow-y: hidden;
}
.video-section::-webkit-scrollbar{
    width: 15px;
}
.video-section::-webkit-scrollbar-track {
    background:#b266b2;
  }
.video-section::-webkit-scrollbar-thumb {
    background:#800080;
  }
.videos{
    display: flex;
    align-items: center;
    height: 40vh;
    padding: 5%;
}
.videos video{
    width: 500px;
    height: 300px;
    margin: 0% 2% 2% 2%;
}

/* TEAMS */
.team-section{
    height: 75vh;
    margin-top: 5%;
}
.team-members{
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    width: 60%;
    margin: 5% auto;
}
.member-cards{
    text-align: center;
    margin: 2%;
}
.member-cards img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}
.member-cards img:hover{
    filter: grayscale(0%);
}
.member-cards p{
    font-weight: 900;
    font-size: 18px;
}
.member-cards small{
    color: #8a8a8a;
    font-size: 13px;
}


/* LIFE IN ZIPPY */
.slider-section{
    margin-top: 5%;
    background-color: #e7e7e7;
    padding: 3%;
}
.slider-section h2{
    margin-bottom: 2%;
}
.image-container{
    width: 50%;
    height: 50vh;
    margin: auto;
}
#img{
    width: 100%;
    height: 100%;
}
.slider{
    width: 50%;
    margin: 2% auto;
    display: flex;
    justify-content: center;
}
.slider img{
    width: 150px;
    cursor: pointer;
}

/* NEWSLETTER */
.newsletter-section{
    height: 50vh;
    display: grid;
    place-items: center;
    background-image: url(./images/bridge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    width: 50%;
    text-align: center;
    color: #fff;
}
.inputs{
    padding: 2%;
}
.inputs input[type="email"]{
    width: 80%;
    padding: 2%;
    border: none;
    border-radius: 5px;
}
.inputs input[type="email"]:focus{
    outline: none;
}
.inputs input[type="submit"]{
    padding: 2%;
    background-color: #ffff00;
    color: #800080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
}

/* BLOG */
.blog-cards img{
    width: 300px;
}

/* CONTACT */
.contact-section{
    display: flex;
    justify-content: center;
    height: 50vh;
    margin: 5% auto;
}
.map iframe{
    height: 450px;
}
.form-container{
    width: 55%;
    height: 100%;
    background-color: #ffff00;
    padding: 2%;
    height: 390px;
}
.form-container h3{
    color: #800080;
    font-size: 30px;
}
.form-container label{
    text-transform: uppercase;
}
.form-container label, .form-container input{
    display: block;
}
.form-container input{
    height: 2rem;
}
.form-container input:focus, .form-container textarea:focus{
    outline: none;
}

.form-container input, .form-container textarea{
    width: 50%;
    text-transform: capitalize;
}
.form-container input[type = "submit"]{
    background-color: #800080;
    border: none;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}


/* FOOTER */
.footer-section{
    height: 30vh;
    width: 60%;
    margin: auto;
    display: grid;
    place-items: center;
}
.foot-box{
    display: flex;
    justify-content: center;
}
.foot-container{
    width: 30%;
    text-align: center;
}
.foot-container h3{
    text-transform: uppercase;
}
.foot-container ul{
    list-style: none;
}
.footlinks{
    width: 50%;
    margin: 5% auto;
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
}
.footlinks a{
    color: #000;
    transition: all ease-in-out;
}
.footlinks .fa-twitter:hover{
    transform: scale(1.5);
    color: #1DA1F2;
}
.footlinks .fa-linkedin:hover{
    transform: scale(1.5);
    color: #0077B5;
}
.footlinks .fa-facebook-f:hover{
    transform: scale(1.5);
    color: 	#3b5998;
}
.footlinks .fa-google-plus:hover{
    transform: scale(1.5);
    color: 	#DD4B39;
}